html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: darkolivegreen;
}

.mainContainer {
    padding: 50px 0;
    width: 80%;
}

.listContainer {
    display: flex;
}

.listBarContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.listContent {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.newListContainer {
    display: flex;
}

.listEditContainer {
    display: flex;
}

.taskContainer {
    display: flex;
}